.nv-file-over {
  border: dotted 3px red;
}

input[type="file"] {
  color: transparent;
}

.not-approved {
  opacity: 0.2;
  position: relative;
}
.image-wapper {
  position: relative;
}

.unapproved-text {
  color: #e42e2e;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  /* transform: translateY(-50%); */
  transform: translate(-50%, -50%);
}
